.jumbotron {
    text-align: center;
}


#map {
    height: 400px;
    width: 50%;
}

.listingContainer{
    border: 1px black solid;
  
}

body{
    background-image: url("liveworkplayhome.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

 
 
input[type="text"]{
    width: 20%;
    padding 10px 15px;
    margin: 0px;
}

  
  
button {
    background-color: white;
    color: black;
    border: 1px solid #555555;
  }

  
  
  

