.jumbotron {
    text-align: center;
    background-image: url("liveworkplayhome.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-wrapper{
    display: inline;
    float: left;
}

#map {
    height: 400px;
    width: 40%;
    float: left;
    margin-left: 2%;
    
}

.listingContainer{
    border: 1px black solid;
    margin: 2%;
    width: 80%;
    float: left;
    padding: 2%;
    border-radius: 10px;
    box-shadow: darkgray 0px 0px 20px;
  
}

#areaInfo {
    margin-right: 5%;
    float: right;
    width: 40%;
    height: 25%;

}

.search-container{
    width:110% 
}

.container{
    width: 33.33%;
    padding: 50px;
    text-align: left;
    font-size: 25px;
    color: white;
}
  
body::before {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.25);
}

 
input[type="text"]{
    width: 20%;
    padding: 10px 15px;
    margin: 0px;
}

  
button{
    border: 1px solid #111010;
    color: rgb(20, 20, 20);
    display: inline-block;
    font-size: 16px;
    height: 60px;
  }


